<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Merchant_id')}:{:__('Merchant_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <span class="form-control">{$row.id}:{$row.merchant_name}</span>
            <input id="c-merchant_id" name="row[merchant_id]" type="hidden" value="{$row.id}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2 required">{:__('Third_type')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-third_type" data-rule="required" class="form-control selectpicker" name="row[third_type]">
                {foreach name="thirdTypeList" item="vo"}
                    <option value="{$key}" {in name="key" value="1"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('App_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-app_name" class="form-control" data-rule="length(~100)"  name="row[app_name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Appurl')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-appurl" class="form-control" data-rule="length(~200)"  name="row[appurl]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Appid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-appid" class="form-control"   data-rule="length(~32)"  name="row[appid]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('App_secret')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-app_secret" class="form-control"  data-rule="length(~100)" name="row[app_secret]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Payment')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
                <select  id="c-payment" class="form-control selectpicker" name="row[payment]">
                    <option value="">--</option>
                    {foreach name="pymentList" item="vo"}
                        <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                    {/foreach}
                </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Partner_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-partner_code" class="form-control" name="row[partner_code]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Credential_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-credential_code" class="form-control" name="row[credential_code]" type="text">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
